<app-header></app-header>
<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 mt-5">
  <button
    (click)="clickAddProject()"
    (click)="openModal('addProjectModal')"
    type="submit"
    class="group relative mb-4 w-48 flex justify-center py-2 px-1 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
  >
    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </span>
    Add project
  </button>
  <div class="flex start">
    <div
      class="flex border-2 rounded-md mb-4 lg:max-w-80 md:max-w-80 sm:max-w-sm w-full"
    >
      <input
      [(ngModel)]="name"
        name="name"
        (ngModelChange)="Search()"
        class="px-4 py-1 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600 lg:max-w-80 md:max-w-80 sm:max-w-sm w-full"
        placeholder="Search..."
      />
    </div>
  </div>
  <div class="bg-white">
    <div class="max-w-full lg:max-w-7xl">
      <h2 class="sr-only">Projects</h2>
      <div>
        <div
          class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 md:grid-cols-1 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
        >
          <div
            (click)="openModal('addProjectModal')"
            (click)="onEdit(data)"
            *ngFor="let data of projectData"
            class="shadow cursor-pointer hover:bg-gray-100 overflow-hidden border-b border-gray-200 sm:rounded-lg"
          >
            <div class="px-6 py-4">
              <button
              type="button"
              (click)="openModal('deleteConfirmModal')"
              (click)="onDelete(data)"
                  class="bg-red-600 hover:bg-red-700 ml-2 text-white py-1 px-2 rounded inline-flex items-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600 float-right"
                >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
                </button>
              <div class="font-bold text-xl mb-2">{{ data.name }}</div>
              <p class="text-gray-700 text-base">
                {{ data.description }}
              </p>
            </div>
            <div class="px-6 pt-4 pb-2">
              <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                >#{{ data.tag }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jw-modal class="hidden" id="deleteConfirmModal">
  <div
    class="fixed z-10 inset-0 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>
      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
      >
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div
              class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
            >
              <svg
                class="h-6 w-6 text-red-600"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3
                class="text-lg leading-6 font-medium text-gray-900"
                id="modal-title"
              >
                Remove employee
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">
                  Are you sure you want to remove your employee? All of your
                  data will be permanently removed. This action cannot be
                  undone.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button
            (click)="deleteProjectDetail(data.id)"
            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Delete
          </button>
          <button
            (click)="closeModal('deleteConfirmModal')"
            id="deleteProjectButton"
            type="button"
            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>
<jw-modal class="hidden" id="addProjectModal">
  <div
    class="fixed z-10 inset-0 overflow-y-auto transition"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>
      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:align-middle sm:my-8 lg:max-w-lg md:max-w-md sm:max-w-sm w-full"
      >
        <form [formGroup]="formValue" class="mt-8 space-y-6 px-6">
          <input type="hidden" name="remember" value="true" />
          <div>
            <label for="name" class="sr-only">Name</label>
            <input
              formControlName="name"
              type="text"
              autocomplete="name"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Name"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['name'].dirty &&
                formValue.hasError('required', 'name')
              "
              >Name is required</span
            >
            <span
              class="text-rose-600 text-sm"
              *ngIf="formValue.controls['name'].errors?.['minlength']"
            >
              Firstname must be at least 2 characters long.
            </span>
          </div>
          <div>
            <label for="description" class="sr-only">Description</label>
            <input
              formControlName="description"
              type="text"
              autocomplete="description"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Description"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['description'].dirty &&
                formValue.hasError('required', 'description')
              "
              >Description is required</span
            >
            <span
              class="text-rose-600 text-sm"
              *ngIf="formValue.controls['description'].errors?.['description']"
            >
              Description must be at least 10 characters long.
            </span>
          </div>
          <div>
            <label for="tag" class="sr-only">Tag</label>
            <input
              formControlName="tag"
              type="text"
              autocomplete="tag"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="#Tag"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['tag'].dirty &&
                formValue.hasError('required', 'tag')
              "
              >Tag is required</span
            >
            <span
              class="text-rose-600 text-sm"
              *ngIf="formValue.controls['tag'].errors?.['tag']"
            >
              Tag must be at least 2 characters long.
            </span>
          </div>
          <div>
            <label for="status" class="sr-only">Status</label>
            <input
              formControlName="status"
              type="text"
              autocomplete="status"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Status"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['status'].dirty &&
                formValue.hasError('required', 'status')
              "
              >Status is required</span
            >
          </div>
          <div>
            <label for="employees" class="sr-only">Employees</label>
            <input
              formControlName="employees"
              type="text"
              autocomplete="employees"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Employees"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['employees'].dirty &&
                formValue.hasError('required', 'employees')
              "
              >Employees is required</span
            >
          </div>
          <div>
            <button
              *ngIf="showAdd"
              (click)="postProject()"
              (click)="closeModal('addProjectModal')"
              type="button"
              class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Add
            </button>
            <button
              [disabled]="!formValue.valid"
              *ngIf="showUpdate"
              (click)="closeModal('addProjectModal')"
              (click)="editProjectDetail(data.id)"
              type="button"
              class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Update
            </button>
            <button
              (click)="closeModal('addProjectModal')"
              id="closeButton"
              type="button"
              class="mt-3 mb-3 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-black bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</jw-modal>
