<app-header></app-header>
<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 mt-5">
  <button
    (click)="clickAddEmployee()"
    (click)="openModal('addEmployeeModal')"
    type="submit"
    class="group relative mb-4 w-48 flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
  >
    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </span>
    Add employee
  </button>
  <div class="flex start">
    <div class="flex border-2 rounded-md mb-4">
      <input
        [(ngModel)]="firstName"
        name="firstName"
        (ngModelChange)="Search()"
        class="px-4 py-1 rounded-md w-80 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600"
        placeholder="Search..."
      />
    </div>
  </div>
  <div
    class="bg-teal-100 border-t-4 border-teal-500 text-teal-900 px-4 py-3 rounded-t-md rounded-b-md mb-4 hidden transition ease-in-out duration-300 hover:-translate-y-1"
    role="alert"
    id="success-alert"
  >
    <div class="flex">
      <div class="py-1">
        <svg
          class="fill-current h-6 w-6 text-teal-500 mr-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
          />
        </svg>
      </div>
      <div>
        <p class="font-bold">Success</p>
        <p class="text-sm">Employee has been successfully added to the team</p>
      </div>
    </div>
  </div>
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div
        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Name
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Lastname
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Salary
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Department
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Options
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y">
            <tr
              class="hover:bg-gray-100 divide-gray-200"
              *ngFor="let row of employeeData"
            >
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">
                  {{ row.firstName }}
                </div>
                <div class="text-sm text-gray-500">{{ row.email }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">
                  {{ row.lastName }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">&euro; {{ row.salary }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">
                  {{ row.department }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <button
                  type="button"
                  (click)="openModal('addEmployeeModal')"
                  (click)="onEdit(row)"
                  class="bg-blue-600 hover:bg-blue-700 text-white py-1 px-2 rounded inline-flex items-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                    />
                  </svg>
                </button>
                <button
                  type="button"
                  (click)="openModal('deleteConfirmModal')"
                  (click)="onDelete(row)"
                  class="bg-red-600 hover:bg-red-700 ml-2 text-white py-1 px-2 rounded inline-flex items-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<jw-modal class="hidden" id="deleteConfirmModal">
  <div
    class="fixed z-10 inset-0 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>
      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
      >
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div
              class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
            >
              <svg
                class="h-6 w-6 text-red-600"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3
                class="text-lg leading-6 font-medium text-gray-900"
                id="modal-title"
              >
                Remove employee
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">
                  Are you sure you want to remove your employee? All of your
                  data will be permanently removed. This action cannot be
                  undone.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button
            (click)="deleteEmployeeDetail(row.id)"
            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Delete
          </button>
          <button
            (click)="closeModal('deleteConfirmModal')"
            id="deleteEmployeeButton"
            type="button"
            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>

<jw-modal class="hidden" id="addEmployeeModal">
  <div
    class="fixed z-10 inset-0 overflow-y-auto transition ease-in-out hover:-translate-y-1 hover:scale-110"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>
      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
      >
        <form [formGroup]="formValue" class="mt-8 space-y-6 px-6">
          <input type="hidden" name="remember" value="true" />
          <div>
            <label for="firstName" class="sr-only">Firstname</label>
            <input
              formControlName="firstName"
              type="text"
              autocomplete="firstName"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Firstname"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['firstName'].dirty &&
                formValue.hasError('required', 'firstName')
              "
              >*Firstname is required</span
            >
          </div>
          <div>
            <label for="lastName" class="sr-only">Lastname</label>
            <input
              formControlName="lastName"
              type="text"
              autocomplete="lastName"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Lastname"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['lastName'].dirty &&
                formValue.hasError('required', 'lastName')
              "
              >*Lastnam is required</span
            >
          </div>
          <div>
            <label for="salary" class="sr-only">Salary</label>
            <input
              formControlName="salary"
              id="salary"
              name="salary"
              type="text"
              autocomplete="salary"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Salary"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['salary'].dirty &&
                formValue.hasError('required', 'salary')
              "
              >*Salary is required</span
            >
          </div>
          <div>
            <label for="email" class="sr-only">Email</label>
            <input
              formControlName="email"
              type="email"
              autocomplete="email"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['email'].dirty &&
                formValue.hasError('required', 'email')
              "
              >*Email is required</span
            >
          </div>
          <div>
            <label for="mobileNumber" class="sr-only">Mobilenumber</label>
            <input
              formControlName="mobileNumber"
              type="tel"
              autocomplete="mobileNumber"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Mobilenumber"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['mobileNumber'].dirty &&
                formValue.hasError('required', 'mobileNumber')
              "
              >*Mobilenumber is required</span
            >
          </div>
          <div>
            <label for="department" class="sr-only">Department</label>
            <input
              formControlName="department"
              type="department"
              autocomplete="department"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border rounded-b-md border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Department"
            />
            <span
              class="text-rose-600 mb-0 text-sm"
              *ngIf="
                formValue.controls['department'].dirty &&
                formValue.hasError('required', 'department')
              "
              >*Department is required</span
            >
          </div>
          <div>
            <button
              [disabled]="!formValue.valid"
              *ngIf="showAdd"
              (click)="postEmployeeDetails()"
              type="button"
              class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Add
            </button>
            <button
              [disabled]="!formValue.valid"
              *ngIf="showUpdate"
              (click)="editEmployeeDetail()"
              type="button"
              class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Update
            </button>
            <button
              (click)="closeModal('addEmployeeModal')"
              id="closeButton"
              type="button"
              class="mt-3 mb-3 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-black bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</jw-modal>
