<form>
  <div class="form-group">
    <label for="exampleInputPassword1">DepartmentName</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="DepartmentName"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Enter Department Name"
    />
  </div>
</form>

<button
  (click)="addDepartment()"
  *ngIf="dep.DepartmentId == 0"
  class="btn btn-primary btn-md btn-block"
>
  Add new Department
</button>

<button
  (click)="updateDepartment()"
  *ngIf="dep.DepartmentId != 0"
  class="btn btn-primary btn-md btn-block"
>
  Update
</button>
