<div
  class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <img
        class="mx-auto h-12 w-auto"
        src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
        alt="Workflow"
      />
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Sign up
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        If you already have a account
        <a
          href="#"
          routerLink="/login"
          class="font-medium text-indigo-600 hover:text-indigo-500"
        >
          Login
        </a>
      </p>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="mt-8 space-y-6">
      <input type="hidden" name="remember" value="true" />
      <div>
        <label for="firstname" class="sr-only">Firstname</label>
        <input
          formControlName="firstname"
          id="firstname"
          name="firstname"
          type="text"
          autocomplete="text"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md rounded-br-md rounded-bl-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
          placeholder="Firstname"
        />
        <span
          class="text-rose-600 text-sm"
          *ngIf="
            signUpForm.controls['firstname'].dirty &&
            signUpForm.hasError('required', 'firstname')
          "
          >*Firstname is required</span
        >
        <span
          class="text-rose-600 text-sm"
          *ngIf="signUpForm.controls['firstname'].errors?.['minlength']"
        >
          Firstname must be at least 2 characters long.
        </span>
      </div>
      <div>
        <label for="lastname" class="sr-only">Lastname</label>
        <input
          formControlName="lastname"
          id="lastname"
          name="lastname"
          type="text"
          autocomplete="text"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 rounded-t-md mt-4 rounded-br-md rounded-bl-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
          placeholder="Lastname"
        />
        <span
          class="text-rose-600 text-sm"
          *ngIf="
            signUpForm.controls['lastname'].dirty &&
            signUpForm.hasError('required', 'lastname')
          "
          >*Lastname is required</span
        >
        <span
          class="text-rose-600 text-sm"
          *ngIf="signUpForm.controls['lastname'].errors?.['minlength']"
        >
          Lastname must be at least 2 characters long.
        </span>
      </div>
      <div>
        <label for="username" class="sr-only">Username</label>
        <input
          formControlName="username"
          id="username"
          name="username"
          type="text"
          autocomplete="text"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 rounded-t-md mt-4 rounded-br-md rounded-bl-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
          placeholder="Username"
        />
        <span
          class="text-rose-600 text-sm"
          *ngIf="
            signUpForm.controls['username'].dirty &&
            signUpForm.hasError('required', 'username')
          "
          >*Username is required</span
        >
        <span
          class="text-rose-600 text-sm"
          *ngIf="signUpForm.controls['username'].errors?.['minlength']"
        >
          Username must be at least 6 characters long.
        </span>
      </div>
      <div>
        <label for="email" class="sr-only">Email</label>
        <input
          formControlName="email"
          id="email"
          name="email"
          type="email"
          autocomplete="text"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 rounded-t-md mt-4 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
          placeholder="Email"
        />
        <span
          class="text-rose-600 text-sm"
          *ngIf="
            signUpForm.controls['email'].dirty &&
            signUpForm.hasError('required', 'email')
          "
          >*Email is required</span
        >
        <span
          class="text-rose-600 text-sm"
          *ngIf="signUpForm.controls['email'].errors?.['minlength']"
        >
          Email must be at least 6 characters long.
        </span>
      </div>

      <div>
        <label for="password" class="sr-only">Password</label>
        <input
          formControlName="password"
          id="password"
          name="password"
          type="password"
          autocomplete="text"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 rounded-t-md mt-4 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
          placeholder="Password"
        />
        <span
          class="text-rose-600 text-sm"
          *ngIf="
            signUpForm.controls['password'].dirty &&
            signUpForm.hasError('required', 'password')
          "
          >*Password is required</span
        >
        <span
          class="text-rose-600 text-sm"
          *ngIf="signUpForm.controls['password'].errors?.['minlength']"
        >
          Password must be at least 8 characters long.
        </span>
      </div>

      <div>
        <label for="phonenumber" class="sr-only">Phonenumber</label>
        <input
          formControlName="phonenumber"
          id="phonenumber"
          name="phonenumber"
          type="tel"
          autocomplete="text"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 rounded-t-md mt-4 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
          placeholder="phonenumber"
        />
        <span
          class="text-rose-600 text-sm"
          *ngIf="
            signUpForm.controls['phonenumber'].dirty &&
            signUpForm.hasError('required', 'phonenumber')
          "
          >*Phonenumber is required</span
        >
        <span
          class="text-rose-600 text-sm"
          *ngIf="signUpForm.controls['phonenumber'].errors?.['minlength']"
        >
          Phonenumber must be at least 8 characters long.
        </span>
      </div>

      <div>
        <button
          [disabled]="!signUpForm.valid"
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg
              class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
