<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-emp
          [emp]="emp"
          *ngIf="ActivateAddEditEmpComp"
        ></app-add-edit-emp>
      </div>
    </div>
  </div>
</div>

<div class="container-xl">
  <button
    type="button"
    class="btn btn-primary mt-5"
    data-toggle="modal"
    data-target="#exampleModal"
    (click)="addClick()"
    data-backdrop="static"
    data-keyboard="false"
  >
    Add Employee
  </button>
  <table class="table table-hover mt-5">
    <thead class="thead-dark">
      <tr>
        <th class="text-center" scope="col">EmployeeId</th>
        <th class="text-center" scope="col">EmployeeName</th>
        <th class="text-center" scope="col">Department</th>
        <th class="text-center" scope="col">DateOfJoining</th>
        <th class="text-center" scope="col">Photo</th>
        <th class="text-center" scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of EmployeeList">
        <td class="text-center">{{ dataItem.EmployeeId }}</td>
        <td class="text-center">{{ dataItem.EmployeeName }}</td>
        <td class="text-center">{{ dataItem.Department }}</td>
        <td class="text-center">{{ dataItem.DateOfJoining }}</td>
        <td class="text-center"></td>
        <td class="text-center">
          <button
            type="button"
            class="btn btn-primary mr-2"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="editClick(dataItem)"
            data-backdrop="static"
            data-keyboard="false"
          >
            <box-icon color="white" name="edit"></box-icon>
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteClick(dataItem)"
          >
            <box-icon color="white" name="trash"></box-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 mt-6">
  <div class="inline-flex rounded-md shadow mb-5">
    <a
      routerLink="/employee/add-employee"
      href="#"
      class="inline-flex items-center justify-center px-3 h-10 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700"
    >
      Add new employee
    </a>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div
          class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Id
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Name
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Department
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Date of joining
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Options
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let dataItem of EmployeeList">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img
                        class="h-10 w-10 rounded-full"
                        src="http://localhost:53535/Photos/anonymous.png"
                      />
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        {{ dataItem.EmployeeId }}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    {{ dataItem.EmployeeName }}
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    {{ dataItem.Department }}
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    {{ dataItem.DateOfJoining }}
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <button
                    (click)="deleteClick(dataItem)"
                    class="bg-rose-500 hover:bg-rose-600 rounded-full px-4 py-2 text-white"
                  >
                    Remove
                  </button>
                  <button
                    class="bg-cyan-500 hover:bg-cyan-600 rounded-full px-4 py-2 text-white ml-2"
                  >
                    Edit
                  </button>
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
